body {
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 241, 241);
    max-width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

wrapper {
    max-width: 100%;
    background-color: white;
    border: solid rgb(230, 229, 229);
    border-width: 3px;
}

.navbar {
    background-color:white;
    min-width: 70rem;    
}
  
.navbar ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    min-height: 40px;
}
  
.navbar li {
    margin: 0 10px; 
}

.navbar a {
    color:  rgb(0, 128, 96); 
    text-decoration: none; 
    padding: 40px; 
    margin: 10px;
    font-weight: bold;
}
  
.navbar a:hover { 
    text-decoration: underline; 
}

header {
    display: flex;
    min-width: 70rem;
    background-image: url("../images/handsidan.avif");
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

.header-text {
    color: white;
    font-size: 3rem;
    align-self: center;
}

.header-pic-logo {
    align-self: center;
}

main-grid-container {
    display: grid;
    background-color: white;
    min-width: 70rem;
    min-height: 70rem;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: repeat(6, 1fr);
}

main-grid-container p {
    font-size: 1.5rem;
}

form-container {
    display: flex;
    background-color: white;
    min-width: 100%;
    justify-content: center;
    align-items: center;
}

button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-green  {
    font-weight: bold;
    width: 8rem;
    height: 2.5rem;
    background-color:rgb(53, 132, 112); 
    color: white;
    font-family: italic;
    border-radius: 10%;
    margin-top: 30px;
}

.form-header {
    font-size: 1.5rem;
    margin: 20px;
}

input[type=text] {
    padding: 5px 110px;
    margin: 10px;
    margin-top: 0px;
    border: 1px solid #e2e1e1;
}


label {
    display: block;
    font-size: 1rem;
    font-weight: 100;
    margin-left: 10px;
}

main {
    display: flex;
    flex-direction: column;
}

.text-header {
    text-align: center;
    font-weight: 540;
    font-size: 20px;
}

.card-grid-container1 {
    background-color: white;
    display: flex;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 2px 2px lightgrey;
    margin-left: 20px;
}

.vegetable {
    display: flex;
    justify-content: center;
    height: 15em;
    background-position: center;
    background-size: cover;
}

.cucumber {
    background-image: url("../images/gurka.avif");
}

.card-logo {
    position: absolute;
    align-self: center;
    height: 100%;
    width: 50%;
    
}

.card-pic { 
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
}

.text-container {
    display: grid;
    padding-bottom: 10%;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
}

.button-red {
    background-color: brown;
    max-height: 20px;
    max-width: 80px;
    border-radius: 4px;
    color: white;
}

.card-date {
    font-weight: bold;
    white-space: nowrap;
    padding-right: 10px;
} 

.card-text {
    font-size: large;
    font-weight: bold;
}

.small-text {
    font-style: italic;
}

.button-container {
    display: flex;
    background-color: white;
    min-width: 80%;
    justify-content: center;
}

.article-grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: white;
    max-height: 40rem;
    
}

.card-grid-container2 {
    background-color: white;
    display: flex;
    row-gap: 3%;
}

footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(131, 85, 57);
    margin-top: 50px;
}

picture {
    height: 15em;
    background-position: center;
    background-size: cover;
}

.pic1 {
    background-image: url("../images/plockar.avif");
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 35px;
    margin-right: 15px;
}

.pic2 {
    background-image: url("../images/vattenkanna.avif");
    margin-top: 25px;
    margin-bottom: 35px;
    margin-right: 15px;
}

.pic3 {
    background-image: url("../images/massagrönsaker.avif");
    margin-top: 25px;
    margin-bottom: 35px;
    margin-right: 15px;

}

.pic4 {
    background-image: url("../images/tjejmedhatt.avif");
    margin-top: 25px;
    margin-bottom: 35px;
    margin-right: 35px;
}

footer-btn {
    display: flex;
    justify-content: center;
    margin: 10px;
}

footer-btn a {
    margin: 10px;
    color: black;
    text-decoration: none;
}

.meny-logo {
    display: none;
}


@media screen and (max-width: 480px) {
    .navbar {
        display: none;
    }

    .meny-logo {
        display: block;
        max-width: 5vw;
        margin-top: 5px;
        margin-right: 5px;
        align-self: end;
    }

    header{
        min-width: 50%;
    }

    form-container {
        flex-direction: column;
    }

    footer-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .pic1 {
        margin-left: 13px;
    }

    .pic3 {
        margin-left: 13px;
    }

    .pic4 {
        margin-right: 13px;
    }

    .button-green {
        font-size: large;
    }

    .card-logo {
        display: none;
    }

}